/* -------------------------------------- */
/* -------------------------------------- */
/* ------------ HTML Defaults ----------- */
/* -------------------------------------- */
/* -------------------------------------- */
* {
  box-sizing: border-box;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* ------------ DOM Structure ----------- */
/* -------------------------------------- */
/* -------------------------------------- */
#header_nav {
  max-width: 1500px;
}
#title_span {
  font-size: 0.6em;
  font-style: italic;
}
#body_content_container {
  max-width: 1200px;
}
#section_display {
  border: 4px dashed blue;
  height: 600px;
  background-color: rgb(0, 255, 0);
}

button:focus {
  outline: none; /* Removes Bootstrap's default button focus outlining */
}
input:focus {
  outline-color: yellow;
}
/* -------------------------------------- */
/* -------------------------------------- */
/* -------- #section_list Cards --------- */
/* -------------------------------------- */
/* -------------------------------------- */
.list_card {
  width: 350px;
  max-width: 450px;
  /*width: 33.3333%;*/
  /*min-width: 350px;*/
}
.list_close_button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 1;
  /* z-index positions the transparent button container in front of the icon */
}
i.material-icons {
  position: relative;
  z-index: -1;
  /* z-index positions the icon behind the transparent button container */
}
.list_amazon_button {
  position: absolute;
  top: 0;
  right: 64px;
  padding: 0px;
  color: white;
}
.card-header {
  color: white;
  background: darkviolet;
}
.card_column_left,
.card_column_right {
  width: 50%;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* ---------- CSS3 Transitions ---------- */
/* -------------------------------------- */
/* -------------------------------------- */

.fade_out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s ease-in-out;
}
